<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>User_Tấn</title>
</head>
<body>
<h1 style="text-align: center">Information Music</h1>
<form method="post" th:object ="${music}" th:action="@{/music/createOrUp}" novalidate="novalidate">
    <div class="form-group">
        <label >Id</label>
        <input type="text" class="form-control" th:field="*{id}">
<!--        <small style="color: red" th:if="${#fields.hasErrors('id')}" th:errors ="*{id}" name="id"></small><br>-->
    </div>
    <div class="form-group">
        <label >Name Music</label>
        <input type="text" class="form-control" th:field="*{name_Music}">
        <small style="color: red" th:if="${#fields.hasErrors('name_Music')}" th:errors ="*{name_Music}"></small><br>
    </div>
    <div class="form-group">
        <label for="1">Musican</label>
        <input type="text" class="form-control" id="1" th:field="*{musican}">
        <small style="color: red" th:if="${#fields.hasErrors('musican')}" th:errors ="*{musican}"></small><br>
    </div>
    <div class="form-group">
        <label for="2">Type</label>
        <input type="text" class="form-control" id="2" th:field="*{type}">
        <small style="color: red" th:if="${#fields.hasErrors('type')}" th:errors ="*{type}"></small><br>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
    <a href="/music" class="btn btn-success">Close</a>
</form>
</body>
</html>