<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Tan1</title>
</head>
<body>
<h1 style="text-align: center">Stadium</h1>
<p style="color: red" th:text="${mess}"></p>
<a class="btn btn-info" href="/stadiums/create">Create</a>
<form method="get" th:action="@{/stadiums/searchname}">
    <input type="text" placeholder="input name here" name="name">
    <button class="btn btn-primary">Search</button>
</form>
<form th:action="@{/stadiums/searchkhuvuc}">
    <select name="khuvuc">
        <option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.name_khu_vuc}">
        </option>
    </select>
    <button type="submit">search</button>
</form>
<form th:action="@{/stadiums/searchloaisan}">
    <select name="loaisan">
        <option th:each="type : ${type}" th:value="${type.id}" th:text="${type.name}">
        </option>
    </select>
    <button type="submit">search</button>
</form>
<form method="get" th:action="@{/stadiums/searchAll}">
    <input type="text" placeholder="input name here" name="namee">
    <select name="khuvucc">
        <option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.name_khu_vuc}">
        </option>
    </select>
    <select name="loaisann">
        <option th:each="types : ${type}" th:value="${types.id}" th:text="${types.name}">
        </option>
    </select>
    <button type="submit">searchThreeField</button>
</form>
<table border="1" class="table">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Area</th>
        <th>Address</th>
        <th>Hour</th>
        <th>Action</th>
    </tr>
    <tr th:each="stadium,Status : ${stadiums}" >
        <td th:text="${Status.count}"></td>
        <td th:text="${stadium.name}"></td>
        <td th:text="${stadium.loaiSan.name}"></td>
        <td th:text="${stadium.getKhuVuc.name_khu_vuc}"></td>
        <td th:text="${stadium.address}"></td>
        <td th:text="${stadium.khungGio.name}"></td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#'+|Stadium${stadium.id}|">
                delete
            </button>
        </td>
        <div class="modal fade" th:id="|Stadium${stadium.id}|" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                        <p>Bạn có muốn sân vận động  "<span th:text="${stadium.name}"></span> " ?  </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form th:action="@{/stadiums/delete/{id}(id=${stadium.id})}" method="get">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </tr>
</table>
<a th:if="${stadiums.hasPrevious()}" th:href="@{/stadium(page=${stadiums.number-1})}"  class="previous">Previous</a>
<span th:text="${stadiums.number+1}"></span>/
<span th:text="${stadiums.totalPages}"></span>
<a th:if="${stadiums.hasNext()}"th:href="@{/stadium(page=${stadiums.number+1})}" class="next">Next</a>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</html>